**,
*::before,
*::after { box-sizing: border-box; }


:root {
    --container:1024px;
    --radius: 12px;
    --space-1: .5rem;
    --space-2: .75rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-6: 2rem;
    --fg: #fffffff;
    --border: #e2e8f0;
    --bg: #121212;
    --muted : #6b7280;
    --brand: #3b82f6;

}

html { scroll-behavior: smooth; }


body {
  margin: 0 ;
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
               "Noto Sans", Helvetica, Arial, "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.6; /* mejora la legibilidad del texto aplicando un espacio */
  font-size: 16px;
}

.container {
    max-width: var(--container); /* aplica un ancho máximo */
    margin-left: auto; /* centra el contenedor horizontalmente */
    margin-right: auto;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}

a {
    color: var(--brand);
    text-decoration: none;
}